@CHARSET "ISO-8859-1";

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color:white;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}